
:root {
  --primary-bg: #0B3C5D;
  --body-bg: linear-gradient(to right,#23506d,#082f4f );
  --accent-bg: #DDF3FE;
  --text-dark: #0B2134;
  --white: #FFFFFF;
  --muted-cream: #6e6753;
  --highlight: #FF3B30;
  --muted-gray: #6B7C93;
}

.navbar-toggler {
  color: var(--primary-bg);
  background-color: var(--accent-bg);
}

header {
  background: var(--body-bg);
  padding-top: 60px;
}

.main-container {
  padding-top: 60px;
}

img {
  object-fit: contain;
  object-position: center;
}

.img-height {
  height: 100%;
}

.custom-navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-navbar.scrolled {
  background-color: var(--primary-bg);
  box-shadow: 0 4px 12px rgba(224, 216, 216, 0.1);
}

/* About Section */

section {
  padding: 100px;
}

.about-btn:hover {
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  background: transparent;
  font-weight:  bold;
}

/* music section */
.btn-text-dark:hover {
  color: var(--text-dark);
  background: transparent;
  border: 1px solid var(--text-dark);
}

/* vedio section */


.btn-muted-cream:hover {
  border: 1px solid var(--white);
  color: var(--white);
  background: transparent;
}

footer {
  background: var(--body-bg);
}

footer a {
  margin: 0px 20px;
  cursor: pointer;
  transition: transform ease .2s;
}

footer a:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  ul .nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 0 0 5px 0;
    margin: 0px 5px;
  }

  ul .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }

  ul .nav-link:hover::after,
  ul .nav-link.active::after {
    color: white;
    width: 100%;
  }
}




/* body
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  background-color: var(--bg);
}

.navbar-brand,
.nav-link {
  color: var(--text) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--bg);
}

.btn-primary:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  color: var(--text);
}

.section-title {
  color: var(--primary);
  border-bottom: 2px solid var(--secondary);
  display: inline-block;
  margin-bottom: 1rem;
}

.card {
  background-color: #2B1A12;
  color: var(--text);
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #120C07;
  color: var(--muted);
  padding: 2rem 0;
} */