
:root {
  --primary-bg: #0B3C5D;
  --body-bg: linear-gradient(to right,#23506d,#082f4f );
  --accent-bg: #DDF3FE;
  --text-dark: #0B2134;
  --white: #FFFFFF;
  --muted-cream: #6e6753;
  --highlight: #FF3B30;
  --muted-gray: #6B7C93;
}

.navbar-toggler {
  color: var(--primary-bg);
  background-color: var(--accent-bg);
}

header {
  background: var(--body-bg);
}

.img-height {
  height: 100%;
}

.custom-navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-navbar.scrolled {
  background-color: var(--primary-bg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* body {
  background-color: var(--bg);
  color: var(--text);
}

.navbar {
  background-color: var(--bg);
}

.navbar-brand,
.nav-link {
  color: var(--text) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--bg);
}

.btn-primary:hover {
  background-color: var(--hover);
  border-color: var(--hover);
  color: var(--text);
}

.section-title {
  color: var(--primary);
  border-bottom: 2px solid var(--secondary);
  display: inline-block;
  margin-bottom: 1rem;
}

.card {
  background-color: #2B1A12;
  color: var(--text);
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  background-color: #120C07;
  color: var(--muted);
  padding: 2rem 0;
} */